.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  /* border: 1px solid gray; */
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  height: 120px;
  cursor: pointer;
}

.nav-items>ul {
  display: flex;
  gap: 50px;
}

.nav-items>ul>li {
  font-size: 18px;
  color: #ff6347;
  list-style-type: none;
  cursor: pointer;
  /* margin-top: -20px; */
}

.login-btn {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 140px 0 110px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn,
.filter-btn {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 10px;
}

.restaurant-Container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 110px;
}

.restaurant-card {
  width: 250px;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.restaurant-card:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}

.restaurant-logo {
  height: 150px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  /* object-fit: cover; */
}