.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  border: 1px solid gray;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  height: 120px;
  cursor: pointer;
}

.nav-items>ul {
  display: flex;
  gap: 20px;
}

.nav-items>ul>li {
  font-size: 18px;
  list-style-type: none;
  cursor: pointer;
  margin-top: -20px;
}

.restaurant-Container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.restaurant-card {
  width: 200px;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.restaurant-card:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}

.restaurant-logo {
  height: 150px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  /* object-fit: cover; */
}