.shimmer-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 110px;
}

.shimmer-card {
  width: 250px;
  height: 280px;
  background-color: #e0e0e091;
  border-radius: 8px;
}

.shimmer-image {
  width: 100%;
  height: 150px;
  background-color: #c0c0c0;
  border-radius: 8px 8px 0 0;
}

.shimmer-text-line {
  height: 20px;
  width: 80%;
  background-color: #c0c0c0;
  margin: 10px auto;
  border-radius: 4px;
}